
body{
  margin: 0;
}
header{
  width: 100%;
  height: auto;
  background: #FAFAFA;
}

div.headerTop{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.headerTop div.logo {
  width: 125px;
  margin: 5px;
}
.headerTop div.logo img{
  width: 100%;
}
div.titleAndPlay{
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: 40px;
}
div.titleAndPlay h1{
  margin: auto;

}
div.titleAndPlay a{
  text-decoration: none;
}
div.titleAndPlay a h1{
  border: 3px solid #1289A7;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 50px;
  text-decoration: none;
  transition: 0.2s all ease;
}
div.titleAndPlay a:hover h1{
  text-decoration: none;
  background: #1289A7;
  color: white;
  transition: 0.2s all ease;


}
.headerBot .nav a:hover{
  background: none;
}
div.titleAndPlay a{
  margin: auto;
  margin-top: -10px;
  color: black;
}
div.login{
  margin-right: 40px;
  margin-top: 50px;
}
div.login a{
  color: black;
}
a{
    text-decoration: none;
}
div.headerBot{
  width: 100%;
  height: 50px;
  border: 1px solid #707070;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FAFAFA;
}
ul.nav{
  display: flex;
  justify-content: space-around;
}
ul.nav li{
  margin-top:-20px;

}
li{
  list-style: none;
}
div.main{
    background-image: linear-gradient(to top, #ebc5d2, #6a98c7);
    padding-top: 30px;
}
div.mainCaption{
  width: 100%;
  display: flex;

  justify-content: center;

}
.mainCaption div.logo{
  width: 100px;
  margin-left: -50px;
}
.logo img{
  width: 100%;
}
.mainCaption img{
  margin-top: -15px;
}
div.carouselContainer{
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
div.leaderboardAndAd{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 40px;
}
div.leaderboard{
  width: 40%;
  display: flex;
}
div.rankContainer{
  width: 33.33%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
div.leaderboardRank{
  width: 100%;
  display: flex;
  justify-content: center;
}
#firstPlace{
height: 250px;
background: #d6b452;
}
#secondPlace{
height: 180px;
background: #cdcdcd;
}
#thirdPlace{
  height: 130px;
  background: #a9652a;
}
p.nickname{
  margin-top: 10px;
  color: white;
  font-size: 17px;
}
div.scoreContainer{
  display: flex;
  justify-content: center;
}
.scoreContainer p{
  color: #CBC6A0;
  font-size: 30px;
}
.leaderboardAndAd div.ad{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
div.rulesContainer{
  width: 85%;
  margin: auto;
  margin-top: 100px;
}
.rulesContainer h4{
  color: #CBC6A0;
  margin-bottom: 40px;
}
div.rules{
    border: 1px solid #707070;
    padding: 20px;
}
div.more{
  margin:auto;
  margin-top: 40px;
  width: 80px;
  height: 60px;
  background-image: url("../images/downarrow.svg");
  background-repeat: no-repeat;
  background-size: 100%
}

div.youtubeVideoandAd{
  width: 80%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
div.youtube{
  width: 575px;
}
.youtubeVideoandAd div.ad{
  width: 410px;
}
footer{
  width: 100%;
  background: #F2F2F2;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.ourLogo img{
  width: 80px;
  height: 80px;
  margin: 10px 0 0 10px;
}
div.policyNetworkContainer{
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
div.policy{

  margin-left: 20px;
  margin-top: 25px;
}
div.ourLogo{
  width:90px;
}
.policy a{
  color: black;
}
 footer{
   width: 100%;
    display: flex;
   flex-direction: row;


 }
div.logoAndPolicy{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logoAndPolicy div.logo{
  width: 80px;
  margin-right: 20px;
}
.logoAndPolicy div.logo img{
  width: 100%;
  height: 80px;
  margin: 10px;
}
div.policy{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 15px;
}
div.socialnetwork{
  display: flex;
  width: 40%;
  margin-top: 30px;

}
.socialnetwork img{
  width: 40px;
  height: 40px;
}
.socialnetwork ul{
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-self:
}
.socialnetwork li{
  display: flex;
  width: auto;
}
.socialnetwork li a{
  color: black;
}
div.container{
  width: 60%;
  display: flex;
  margin: 0;
}

img.ad{
  width: 100%;
}



#more{
  display: none;
}
.comand img{
  width: 60px;
  margin-left: 20px;
}
div.comand{
  font-size: 15px;
}
.carousel-caption h3{
  color: black;
}
.socialnetwork li a img{
  margin-left: 7px;
}
